@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

.text-base {
  @apply text-gray-700
}




.Burger-atas-active {
  @apply -rotate-45 translate-y-2 transition-all duration-300
}

.Burger-tengah-active {
  @apply opacity-0 transition-all duration-300
}

.Burger-bawah-active {
  @apply rotate-45 -translate-y-2 transition-all duration-300
}

.Burger-atas-nonactive {
  @apply -rotate-0 translate-y-0 transition-all duration-300
}

.Burger-tengah-nonactive {
  @apply opacity-100 transition-all duration-300
}

.Burger-bawah-nonactive {
  @apply rotate-0 -translate-y-0 transition-all duration-300
}

.Sidebar-active {
  @apply -translate-x-0 transition-all duration-300 lg:-translate-x-0
}

.Sidebar-nonactive {
  @apply -translate-x-full transition-all duration-300 lg:-translate-x-0
}







.Font-base-struk {
  font-family: monospace;
}












/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
